.App {
  text-align: center;
  background-color: #728C18;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#drum-machine {
  width: 60%;
  height: auto;
  background-color: #F0F7D4;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 2px solid black;
  
}
.drum-pad {
  padding: 30px;
  font-size: 20px;
  width: 150px;
  margin: 10px;
  background-color: #B2D732;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

#display {
  color: white;
  background-color: #B2D732;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 40px;
  font-size: 15px;
  width: 500px;
}

#title {
  color: #B2D732;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

